<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ML Insight Hub</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Article1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Article 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Article2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Article 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Article3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Article 3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Article4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Article 4
            </NavLink>
        </div>
    </nav>
</div>
